:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  margin: 0px;
}

.footer-item {
  position: fixed;
  width: 100%;
  bottom: 1.25em;
  color: white;
  text-align: center;
  font-size: max(0.66cqw, 5pt);
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
}

#reportIssue {
  display: none;
}