:root {
  --background-color: #BFBB98;
  --background-color-dark: #181818;
  --panel-background: #C9C5A0;
  --panel-background-dark: #222;
  --text-color: black;
  --text-color-dark: #ddd;
  --button-active: #898677;
  --button-active-dark: #555;
  --input-background: #eee;
  --input-background-dark: #444;
  --opcode: black;
  --opcode-dark: #dcdcaf;
  --highlight: yellow;
  --highlight-dark: #966C23;
  --address: darkgreen;
  --address-dark: #00C000;
  --immediate-dark: #C0FF00;
  --link-color: blue;
  --link-color-dark: lightblue;
}

body.no-scroll {
  /* Prevent scrollbars from appearing */
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  margin: 10px;
}

body.dark-mode {
  background-color: var(--background-color-dark);
}

a:link,
a:visited {
  color: var(--link-color);
  text-decoration: underline;
}

body.dark-mode a:link,
body.dark-mode a:visited {
  color: var(--link-color-dark);
}

input:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: inherit;
}

@font-face {
  font-family: PrintChar21;
  src: url(./fonts/PrintChar21.woff2);
}

@font-face {
  font-family: PRNumber3;
  src: url(./fonts/PRNumber3.woff2);
}

.loadFontEarly {
  font-family: PrintChar21;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-gap {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.push-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  border-color: #a4a08A;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  color: var(--text-color);
  font-size: 23px;
  padding: 0px 0px;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin: 0px;
  margin-top: 2px;
  cursor: pointer;
  font-weight: 900;
  user-select: none;
  outline: none;
}

body.dark-mode .push-button {
  color: var(--text-color-dark);
}

.push-button:hover {
  cursor: pointer;
}

.push-button:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: inherit;
}

.push-button:active {
  background-color: var(--button-active);
}

body.dark-mode .push-button:active {
  background-color: var(--button-active-dark);
}

.push-button:disabled {
  border: 0;
  opacity: 30%;
  cursor: default;
}

.key-button {
  color: var(--text-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
}

body.dark-mode .key-button {
  color: var(--text-color-dark);
  border-color: var(--text-color-dark);
}

.button-active {
  background-color: var(--button-active);
}

body.dark-mode .button-active {
  background-color: var(--button-active-dark);
}

.button-locked {
  background-color: var(--button-active);
  position: relative;
}

body.dark-mode .button-locked {
  background-color: var(--button-active-dark);
}

.button-locked::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #aaff00;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.joystick-button {
  background: linear-gradient(to bottom, #a02a06, #911005);
  border: 1px solid #f04d3e;
  color: white;
  width: 30px;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 6px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 6px 0px rgba(81, 2, 2, 0.8);
  transform: translateY(-2px);
  transition: all 0.1s ease-in-out;
}

.joystick-active {
  box-shadow: 0px 2px 0px rgba(81, 2, 2, 0.8);
  transform: translateY(3px);
}

.joystick-button:active {
  box-shadow: 0px 2px 0px rgba(81, 2, 2, 0.8);
  transform: translateY(3px);
}

.text-button {
  border-width: 1px;
  border-color: white;
  border-style: outset;
  width: 3em;
  height: 1em;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.text-button:focus {
  outline: auto;
}

.text-key {
  font-size: medium;
  letter-spacing: -0.03em;
  font-weight: 600;
  position: relative;
  top: 0;
  left: 0;
  color: var(--text-color);
}

body.dark-mode .text-key {
  color: var(--text-color-dark);
}

.fill-color {
  fill: var(--text-color);
}

body.dark-mode .fill-color {
  fill: var(--text-color-dark);
}

.default-font {
  font-size: 8pt;
  color: var(--text-color);
  fill: var(--text-color);
}

body.dark-mode .default-font {
  color: var(--text-color-dark);
  fill: var(--text-color-dark);
}

.bigger-font {
  cursor: default;
  user-select: none;
  font-size: 10pt;
  color: var(--text-color);
  fill: var(--text-color);
}

body.dark-mode .bigger-font {
  color: var(--text-color-dark);
  fill: var(--text-color-dark);
}

.bigger-monospace {
  font-family: monospace;
  font-size: 10pt;
  color: var(--text-color);
  fill: var(--text-color);
}

body.dark-mode .bigger-monospace {
  color: var(--text-color-dark);
  fill: var(--text-color-dark);
}

.column-gap {
  margin-bottom: 0.25em;
}

.centered-title {
  font-size: 10pt;
  line-height: 10pt;
  text-align: center;
  margin: 5px;
  color: var(--text-color);
  cursor: pointer;
}

body.dark-mode .centered-title {
  color: var(--text-color-dark);
}

.footer-item {
  width: 100px;
  /* transform: translate(0, -12px); */
  margin-left: 0;
  margin-right: 0.5em;
  white-space: nowrap;
  user-select: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-dialog {
  background-color: var(--panel-background);
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 1px;
  border-style: solid;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  opacity: 100%;
  position: absolute;
  z-index: 9999;
}

body.dark-mode .floating-dialog {
  background-color: var(--panel-background-dark);
  border-color: var(--text-color-dark);
}

.divider {
  border-top: 1px solid var(--text-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

body.dark-mode .divider {
  border-top: 1px solid var(--text-color-dark);
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

.noselect {
  cursor: default;
  user-select: none;
}

@scope (.theme-minimal) {
  :root {
    touch-action: pan-x pan-y;
    height: 100%;
  }

  html {
    position: fixed;
    height: 100%;
    overflow: hidden;
  }

  body {
    height: 100%;
    overflow: hidden;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    margin: 0px;
  }

  .footer-item {
    position: fixed;
    width: 100%;
    bottom: 1.25em;
    color: white;
    text-align: center;
    font-size: max(0.66cqw, 5pt);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
  }

  #reportIssue {
    display: none;
  }
}