.flyout-button {
  display: none;
}

.flyout-button-highlight {
  animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }
}

.flyout {
  position: fixed;
  background-color: #aba7a2;
  padding-left: 2px;
  padding-right: 7px;
}

.flyout-top-left {
  height: auto;
  top: 0px;
  left: 48px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-top-style: none;
  padding-bottom: 0px;
  z-index: 4;
}

.flyout-top-right {
  height: auto;
  top: 0px;
  right: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-top-style: none;
  padding-bottom: 0px;
  z-index: 3;
}

.flyout-bottom-left {
  height: auto;
  bottom: 0px;
  left: 48px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-bottom-style: none;
  padding-top: 0px;
  z-index: 2;
}

.flyout-bottom-right {
  height: auto;
  bottom: 0px;
  right: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-bottom-style: none;
  padding-top: 0px;
  z-index: 1;
}

.flyout-button {
  display: block;
  color: #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 0px;
  font-size: 18pt;
  cursor: pointer;
  width: 100%;
  text-align: center;
}