.flyout.flyout-minimal .flyout-button {
  display: none;
}

.flyout.flyout-minimal.flyout-button-highlight {
  animation: fadeInOut 3s 5;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }
}

.flyout.flyout-minimal {
  position: fixed;
  background-color: #181818;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  user-select: none;
}

.flyout.flyout-minimal.flyout-top-left {
  height: auto;
  top: 0px;
  left: 48px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-style: none;
  padding-bottom: 0px;
}

.flyout.flyout-minimal.flyout-top-center {
  height: auto;
  top: 0px;
  left: calc((100vw/2));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 0px;
}

.flyout.flyout-minimal.flyout-top-right {
  height: auto;
  top: 0px;
  right: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 0px;
}

.flyout.flyout-minimal.flyout-bottom-left {
  height: auto;
  bottom: 0px;
  left: 48px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0px;
}

.flyout.flyout-minimal.flyout-bottom-right {
  bottom: 0px;
  right: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0px;
}

.flyout.flyout-minimal .flyout-button {
  display: block;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 24pt;
  cursor: pointer;
  width: 100%;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}