.hexField {
  font-family: monospace;
  font-size: 8pt;
  width: 3em;
  padding: 2px;
  align-self: center;
  text-align: right;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 3px;
  border-width: 1px;
}

.hexField:focus {
  outline: none;
  border: 1px solid blue;
}

.smallField {
  width: 2em;
}

.debugCheckbox {
  margin: 0;
  transform: scale(0.75)
}

.cropBottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.cropTop {
  clip-path: polygon(0% 50%, 50% 75%, 100% 50%, 100% 100%, 0% 100%);
}

.smallButton {
  font-size: 0.5em;
  vertical-align: top;
}

.debugPanel {
  outline: none;
  cursor: text;
  user-select: text;
  white-space: pre;
  font-family: monospace;
  font-size: 8pt;
  line-height: 10pt;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.thinBorder {
  border-width: 0.5px;
  border-color: gray;
  border-style: solid;
  margin: 0;
}

.programCounter {
  background-color: black;
  opacity: 30%;
  width: 200px;
  height: 14px;
  position: absolute;
  left: 2px;
  pointer-events: none;
}

.highlightLine {
  background-color: black;
  opacity: 30%;
  width: 200px;
  height: 14px;
  left: 2px;
  margin-top: -14px;
  pointer-events: none;
}

.breakpoint-style {
  font-size: 7pt;
  color: #d2331f;
  padding-right: 5px;
}

.watch-point {
  color: #0433FF;
}

.breakpoint-pushbutton {
  font-size: 7pt;
  padding-left: 0;
  padding-right: 8px;
  margin-top: 0px;
  transform: translate(0, 1px);
  border-width: 0;
  border-color: #a4a08A;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  color: black;
  cursor: pointer;
  user-select: none;
}

.breakpoint-position {
  position: absolute;
  left: 6px;
}

.fakePoint {
  opacity: 50%;
}

.stateLine {
  margin: 0;
}

.roundRectBorder {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 7px;
  position: relative;
}

.bigger-font {
  font-size: 10pt;
  padding-top: 1px;
  text-align: center;
}

.panelTitle {
  position: absolute;
  font-size: 10pt;
  top: -1.7em;
  left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.tightButton {
  border: 0px;
  border-style: none;
  margin-left: 5px;
  margin-top: 14px;
  margin-right: 3px;
  padding-left: 1px;
  padding-top: 1px;
  width: 18px;
  height: 18px
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breakpoint-edit-dialog {
  background-color: #333;
  border-radius: 5px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  opacity: 100%;
  width: 450px;
  height: 190px;
  position: absolute;
  z-index: 9999;
}

.white-title {
  font-size: 10pt;
  line-height: 18pt;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.horiz-rule {
  border-top: 1px solid #888;
  margin-top: 0px;
  margin-bottom: 5px;
}

.dark-mode-edit {
  background-color: #222;
  color: white;
  font-family: monospace;
  border-color: #aaa;
  border-width: 1px;
  border-style: solid;
  outline: none;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-right: 5px;
  height: 14pt;
}

.warning-div {
  position: absolute;
  width: 260px;
  right: 7px;
  top: -15px;
  justify-content: flex-end;
}

.warning-icon {
  font-size: 9pt;
  color: #FF4013;
  margin-right: 5px;
}

.warning-text {
  font-size: 8pt;
  font-weight: 600;
  color: #FF4013;
}

.check-radio-box {
  margin-left: 10px;
  margin-top: 0;
}

.shift-down {
  margin-top: 3px;
}

.flush-left {
  padding-left: 2px;
}