.address {
  font-family: monospace;
  font-size: 8pt;
  width: 3em;
  padding: 2px;
  align-self: center;
  text-align: right;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 3px;
  border-width: 1px;
}

.address:focus {
  outline: none;
  border: 1px solid blue;
}

.cropBottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.cropTop {
  clip-path: polygon(0% 50%, 50% 75%, 100% 50%, 100% 100%, 0% 100%);
}

.smallButton {
  font-size: 0.5em;
  vertical-align: top;
}

.debugPanel {
  outline: none;
  cursor: text;
  user-select: text;
  white-space: pre;
  font-family: monospace;
  font-size: 8pt;
  line-height: 10pt;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.thinBorder {
  border-width: 0.5px;
  border-color: gray;
  border-style: solid;
  margin: 0;
}

.programCounter {
  background-color: black;
  opacity: 30%;
  width: 200px;
  height: 14px;
  position: absolute;
  left: 2px;
  pointer-events: none;
}

.highlightLine {
  background-color: black;
  opacity: 30%;
  width: 200px;
  height: 14px;
  left: 2px;
  margin-top: -14px;
  pointer-events: none;
}

.breakpointStyle {
  cursor: pointer;
  font-size: 7pt;
  color: #d2331f;
  position: absolute;
  left: 6px;
}

.fakePoint {
  opacity: 50%;
  display: none;
  pointer-events: none;
}

.stateLine {
  margin: 0;
}

.roundRectBorder {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 7px;
  position: relative;
}

.biggerFont {
  font-size: 10pt;
  padding-top: 1px;
}

.panelTitle {
  position: absolute;
  font-size: 10pt;
  top: -1.7em;
  left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}