.help-paper {
  position: relative;
  background-color: #f0f0f0;
  background-image:
    repeating-linear-gradient(to bottom,
      #f0f0f0 0px,
      #f0f0f0 40px,
      #d8e6e1 40px,
      #d8e6e1 80px);
  background-repeat: repeat-y;
  background-position: 40px 0;
}

.help-paper::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  bottom: 0;
  width: 40px;
  background: repeating-radial-gradient(circle,
      var(--background-color) 0% 20%,
      transparent 20% 100%);
  background-size: 100% 40px;
  mix-blend-mode: multiply;
}

.help-text {
  overflow: wrap;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.help-text-light {
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-left: 1px solid #d8e6e1;
  color: var(--text-color);
}

.help-text-dark {
  margin: 10px;
  padding: 5px;
  color: #00FF00;
}