.disk-label {
  /* background-color: black; */
  position: relative;
  color: white;
  border-radius: 3px;
  width: 75px;
  pointer-events: none;
  height: 1.5em;
  top: -42px;
  margin-top: -1.2em;
  padding-left: 0px;
  padding-top: 0px;
  line-height: 16px;
  margin-left: 7px;
  text-align: left;
  font-size: 7pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
}

.disk-label-unsaved {
  color: red;
}

.disk-status {
  width: 70px;
  /* transform: translate(0, -12px); */
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
  padding-left: 1em;
}

body.dark-mode .disk-cloud {
  color: var(--text-color-dark);
}

.disk-write-protected {
  position: relative;
  color: var(--text-color);
  height: 0.75em;
  cursor: pointer;
  padding-left: 0.025em;
  padding-right: 0.25em;
  padding-top: 0.25em;
}

.disk-onedrive {
  position: relative;
  height: 0.75em;
  cursor: pointer;
  padding-top: 1.75em;
}

.disk-onedrive-inactive {
  color: var(--text-color);
}

.disk-onedrive-active {
  color: #0364B8;
}

.disk-onedrive-pending {
  color: #28A8EA;
}

.disk-onedrive-inprogress {
  color: dimgray;
  animation: oneDriveSyncTransition 0.75s infinite alternate linear;
}

.disk-onedrive-failed {
  color: darkred;
}

.disk-onedrive-paused {
  color: dimgray;
}

@keyframes oneDriveSyncTransition {
  0% {
    color: #28A8EA;
  }
  33% {
    color: #1490DF;
  }
  66% {
    color: #0078D4;
  }
  100% {
    color: #0364B8;
  }
}

body.dark-mode .disk-write-protected {
  color: var(--text-color-dark);
}

.imgButton {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 3px !important;
  background-color: inherit !important;
  border: none;
  outline: none;
}

.disk-image {
  width: 85px;
  height: 55px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  -webkit-touch-callout: none;
  user-select: none;
}

body.dark-mode .disk-image {
  border-color: var(--text-color-dark);
}

#tour-disk-images {
  margin-right: 1.5em;
}