.disk-label {
  /* background-color: black; */
  position: relative;
  color: white;
  border-radius: 3px;
  width: 75px;
  pointer-events: none;
  height: 1.5em;
  top: -42px;
  margin-top: -1.2em;
  padding-left: 0px;
  padding-top: 0px;
  line-height: 16px;
  margin-left: 7px;
  text-align: left;
  font-size: 7pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
}

.disk-label-unsaved {
  color: red;
}

.disk-status {
  width: 70px;
  /* transform: translate(0, -12px); */
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
}

.disk-write-protected {
  position: relative;
  color: var(--text-color);
  height: 0.75em;
  cursor: pointer;
}

body.dark-mode .disk-write-protected {
  color: var(--text-color-dark);
}

.imgButton {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 3px !important;
  background-color: inherit !important;
  border: none;
  outline: none;
}

.disk-image {
  width: 85px;
  height: 55px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  -webkit-touch-callout: none;
  user-select: none;
}

body.dark-mode .disk-image {
  border-color: var(--text-color-dark);
}
