.tj-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 997;
  pointer-events: none;
}

.tj-base-image-left {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
  user-select: none;
  pointer-events: none;
}

.tj-base-image-right {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.tj-base {
  position: absolute;
  top: 50%;
  width: 33%;
  height: auto;
  transform: translateY(-50%);
  opacity: 20%;
  pointer-events: all;
}

.tj-base-left {
  left: -14.5%;
}

.tj-base-right {
  right: -14.5%;
}

.tj-stick {
  position: absolute;
  top: -1.5%;
  width: 19.5%;
  transform-origin: 24% 94%;
}

.tj-stick-left {
  left: 54.5%;
}

.tj-stick-right {
  right: 44.5%;
}

.tj-stick-image {
  width: 100%;
  height: auto;
}

.tj-buttons {
  position: absolute;
  top: 50%;
  width: 33%;
  height: auto;
  transform: translateY(-50%);
  opacity: 20%;
  pointer-events: all;
}

.tj-buttons-left {
  left: -17%;
}

.tj-buttons-right {
  right: -17%;
}