.debug-section {
  max-height: 92cqh;
  overflow-x: auto;
  overflow-y: auto;
  margin-bottom: 10px;
}

.dbg-tab-row {
  padding: 12px;
  padding-top: 8px;
  padding-bottom: 0px;
  margin-left: -2px;
  margin-right: -6px;
  border-bottom: 1px solid black;
}

.dbg-tab {
  border-bottom: none;
  background-color: unset;
}

.dbg-tab:hover {
  background-color: gray;
}

.dbg-tab-active {
  background-color: gray;
}