.disk-collection-panel {
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 0px;
  column-gap: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  max-height: 65vh;
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dcp-item {
  display: flex;
  position: relative;
  height: auto;
  margin-left: 4px;
  margin-right: 4px;
}

.dcp-item-title {
  position: absolute;
  width: 50%;
  top: 6%;
  right: 6%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 9pt;
  font-weight: bold;
  line-height: 0.85;
  color: white;
  pointer-events: none;
}

.dcp-item-release {
  position: absolute;
  width: 35%;
  top: 20%;
  left: 6%;
  text-align: center;
  font-size: 7pt;
  font-weight: bold;
  line-height: 1;
  color: black;
}

.dcp-item-disk {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.dcp-item-image-box {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 34%;
  height: auto;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.dcp-item-image {
  width: 75%;
  height: auto;
  /* border-radius: 16px; */
  border: 1px solid black;
}