.disk-collection-panel {
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  row-gap: 0px;
  column-gap: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  max-height: 62vh;
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dcp-tab-row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin-left: -2px;
  margin-right: -6px;
  padding: 12px;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
}

.dcp-tab {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  padding: 4px;
  cursor: pointer;
}

.dcp-tab:hover {
  background-color: gray;
}

.dcp-tab-active {
  background-color: gray;
}

.dcp-tab-highlighted {
  animation: tabFadeInOut 3s 5;
}

@keyframes tabFadeInOut {

  0%,
  100% {
    background-color: #aba7a2;
  }

  50% {
    background-color: gray;
  }
}

.dcp-item {
  display: flex;
  position: relative;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.dcp-item-title-box {
  position: absolute;
  width: 50%;
  height: 4.5cqh;
  top: 4%;
  right: 6%;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 0.85;
  color: white;
}

.dcp-item-title {
  display: grid;
  align-items: center;
  width: 100%;
  font-size: 0.825em;
  height: 3.5cqh;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  color: white;
  cursor: default;
}

.dcp-item-title-link {
  text-decoration: underline;
  cursor: pointer;
}

.dcp-item-updated {
  position: absolute;
  width: 36%;
  top: 18%;
  left: 5%;
  text-align: center;
  font-size: 0.25em;
  color: black;
  pointer-events: none;
}

.dcp-item-disk {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.dcp-item-image-box {
  position: absolute;
  width: 96%;
  height: 64%;
  top: 30%;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.dcp-item-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 3px solid white;
}

.dcp-item-image:hover {
  opacity: 100%;
}

.dcp-item-new {
  position: absolute;
  left: 6px;
  bottom: 8px;
}

.dcp-item-new-icon {
  position: relative;
  top: 11px;
  color: gainsboro;
  z-index: 1;
}

.dcp-item-new-icon-bg {
  position: relative;
  width: 12px;
  height: 12px;
  left: 18%;
  bottom: 6px;
  background-color: black;
  z-index: 0;
}

.dcp-item-bookmark {
  position: absolute;
  right: 8px;
  width: 20%;
  height: 20%;
  bottom: 45%;
  cursor: pointer;
}

.dcp-item-bookmark-icon {
  position: relative;
  width: 100%;
  height: 100%;
  color: yellow;
  z-index: 1;
}

.dcp-item-a2ts {
  position: absolute;
  left: 6px;
  bottom: 4px;
}

.dcp-item-a2ts-icon {
  position: relative;
  top: 11px;
  color: gainsboro;
  z-index: 1;
}

.dcp-item-a2ts-icon-bg {
  position: relative;
  width: 12px;
  height: 14px;
  left: 12%;
  bottom: 6px;
  background-color: black;
  z-index: 0;
}

.dcp-item-ia {
  position: absolute;
  width: 14%;
  height: 10%;
  left: 4px;
  bottom: 26px;
}

.dcp-item-ia-icon {
  position: relative;
  top: 11px;
  color: gainsboro;
  z-index: 1;
}

.dcp-item-ia-icon-bg {
  position: relative;
  width: 58%;
  height: 80%;
  left: 12%;
  bottom: 48%;
  background-color: black;
  z-index: 0;
}

.dcp-item-cloud {
  position: absolute;
  left: 6px;
  bottom: 10px;
  width: 10%;
  height: 10%;
}

.dcp-item-cloud-icon {
  position: relative;
  width: 100%;
  height: 100%;
  color: gainsboro;
  z-index: 1;
}

@media (min-width: 1290px) {
  .disk-collection-panel {
    grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
  }

  .dcp-item-title {
    font-size: 1.125em;
    line-height: 1.25;
  }

  .dcp-item-updated {
    font-size: 0.5em;
  }
}

@media (min-height: 900px) {
  .disk-collection-panel {
    max-height: 70vh;
  }

  .dcp-item-new {
    bottom: 12px;
  }

  .dcp-item-a2ts {
    bottom: 8px;
  }

  .dcp-item-ia {
    position: absolute;
    width: 14%;
    height: 10%;
    left: 4px;
    bottom: 32px;
  }
}