/* All of these help-paper styles are only used in light mode.
   In dark mode the help-paper isn't shown, so no need to worry about colors. */

.help-parent {
  box-sizing: content-box;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  height: auto;
  width: auto;
  max-width: 600px;
}

.help-paper {
  position: relative;
  background-color: #f0f0f0;
  background-image:
    repeating-linear-gradient(to bottom,
      #f0f0f0 0px,
      #f0f0f0 40px,
      #d8e6e1 40px,
      #d8e6e1 80px);
  background-repeat: repeat-y;
  background-position: 40px 0;
}

.help-paper::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  bottom: 0;
  width: 40px;
  background: repeating-radial-gradient(circle,
      var(--background-color) 0% 20%,
      transparent 20% 100%);
  background-size: 100% 40px;
  mix-blend-mode: multiply;
}

.help-text {
  overflow: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-right: 10px;
  font-size: 0.5em;
}



.help-text-light {
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-left: 1px solid #d8e6e1;
  color: var(--text-color);
}

.help-text-dark {
  margin: 10px;
  padding: 5px;
  color: #00FF00;
}

@media (min-width: 1290px) {
  .help-text {
    font-size: 1em;
  }
}