.news-panel {
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 0px;
  column-gap: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.np-article {
  display: flex;
  border-radius: 8px;
  border: 1px solid black;
  background-color: black;
  height: auto;
  vertical-align: middle;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.np-article-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border-radius: 6px;
  border: 1px solid black;
}