.news-panel {
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 0px;
  column-gap: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.np-article {
  display: flex;
  position: relative;
  height: auto;
  vertical-align: middle;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  align-items: center;
}

.np-article-title {
  position: absolute;
  width: 50%;
  top: 18px;
  right: 12px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 9pt;
  font-weight: bold;
  line-height: 1;
  color: white;
  pointer-events: none;
}

.np-article-release {
  position: absolute;
  width: 33%;
  top: 39px;
  left: 14px;
  text-align: center;
  font-size: 6pt;
  font-weight: bold;
  line-height: 1;
  color: black;
}

.np-article-disk {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.np-article-image {
  position: absolute;
  width: 38%;
  bottom: 12px;
  right: 10px;
  height: auto;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  border: 1px solid black;
}