.disk-collection-panel {
  width: 100.4%;
  height: 65vh;
}

.dcp-tab-row {
  padding-top: 0px;
}

.dcp-tab:hover {
  background-color: gray;
}

.dcp-tab-active {
  background-color: gray;
}

.dcp-export-row {
  margin-right: -8px;
}