.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-line {
  white-space: pre-line;
}

body {
  background-color: #C4C0AA;
}

@font-face {
  font-family: PrintChar21;
  src: url(./fonts/Print\ Char\ 21\ Pro.otf);
}

@font-face {
  font-family: PRNumber3;
  src: url(./fonts/PR\ Number\ 3\ Pro.otf);
}

.statusPanel {
  display: inline-block;
  width: 370px;
  margin: 20px;
  vertical-align: top;
}

.apple2 {
  display: inline-block;
  margin: 20px;
  width: 1240px;
}

canvas {
  outline: none;
  border-radius: 20px;
  /* cursor: none; */
}

.leftStatus {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

/* .rightStatus {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
} */

.statusItem {
  margin-right: 30px;
}

.fixed {
  font-family: monospace;
  font-size: large;
}

.fixedwidth {
  font-family: monospace;
  font-size: large;
  width: 5em;
  position: relative;
  top: 17px;
  left: calc(-5em - 2px);
  margin-right: -4em;
  margin-bottom: 10px;
  display: inline-block;
  text-align: right;
}

.small {
  font-size: small;
}

button {
  border: 0;
  border-color: #a4a08A;
  background: none;
  -webkit-appearance: none;
/*  background-color: #a4a08A;*/
  color: black;
  font-size: 25px;
  padding: 5px 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
}

button:active {
  background-color: #898677;
}
button:disabled {
  border: 0;
  background-color: #cccccc;
  color: #DDDDDD;
  cursor: default;
}

.disk2 {
  width: 120px;
  height: 69px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}

