.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.new-line {
  white-space: pre-line;
}

body {
  background-color: #BFBB98;
}

@font-face {
  font-family: PrintChar21;
  src: url(./fonts/PrintChar21.ttf);
}

@font-face {
  font-family: PRNumber3;
  src: url(./fonts/PRNumber3.ttf);
}

.MuiDialog-paper {
  margin: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px !important;
}

.MuiDialogTitle-root {
  padding: 5px !important;
}

.MuiImageListItem-root {
  margin-bottom: 30px;
}

.statusPanel {
  display: inline-block;
  width: 370px;
  margin: 20px;
  vertical-align: top;
}

.apple2 {
  display: inline-block;
  margin: 10px;
  /* width: 1240px; */
}

.canvasText {
  display: grid;
  padding-bottom: 0px;
}

canvas {
  grid-column: 1;
  grid-row: 1;
  outline: none;
  border-radius: 20px;
  /* cursor: none; */
}

textarea {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
}

.controlBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftStatus {
  margin-left: 5px;
  margin-top: 10px;
}

/* .rightStatus {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
} */

.statusItem {
  margin-right: 30px;
}

.fixed {
  font-family: monospace;
  font-size: large;
}

.small {
  font-size: small;
}

select {
  font-size: medium;
  border-radius: 4px;
  padding: 2px;
  outline-width: 0;
  border-width: 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  background-color: inherit;
  border: 0.75px solid black !important;
}

.textButton {
  font-size: medium !important;
  line-height: 1.5 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  margin-top: 3px !important;
  font-variant-caps: normal !important;
  color: black !important;
  background-color: inherit !important;
  text-transform: none !important;
  border: 0.75px solid black!important;
}

.pushButton {
  border-width: 0;
  border-color: #a4a08A;
  background: none;
  appearance: none;
  -webkit-appearance: none;
/*  background-color: #a4a08A;*/
  color: black;
  font-size: 20px;
  padding: 0px 0px;
  width: 28px;
  height: 28px;
  border-radius: 7px;
  margin: 2px;
  cursor: pointer;
  font-weight: 900;
}

.keyButton {
  border-width: 1px;
  border-style: outset;
}

.textKey {
  font-size: medium;
  position: relative;
  letter-spacing: -0.05em;
  font-weight: 600;
  top: -0.15em;
  left: -0.02em;
}

.cropBottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.cropTop {
  clip-path: polygon(0% 50%, 50% 75%, 100% 50%, 100% 100%, 0% 100%);
}

.cropApple {
  clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 80% 47%, 75% 58%, 80% 70%, 100% 80%, 100% 100%, 0% 100%);
}

.small {
  font-size: 0.5em;
}

.largeButton {
  font-size: 1.5em;
}

.icon {
  vertical-align: top;
}

button:active {
  background-color: #898677;
}
button:disabled {
  border: 0;
  background-color: #cccccc;
  color: #DDDDDD;
  cursor: default;
}

.drives {
  display: flex;
  flex-direction: row;
}

.drive {
  display: flex;
  flex-direction: column;
}

.disk2 {
  width: 100px;
  height: 57px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6px;
}

.harddrive {
  border: 1px solid #555;
  height: 57px;
  margin-right: 7px;
}

.fixedAlignRight {
  width: 100px;
  height: 1.5em;
  font-family: monospace;
  font-size: small;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.hdText {
  background-color: black;
  color: white;
  border-radius: 3px;
  transform: translate(0, -52px);
  width: 84px;
  pointer-events: none;
  height: 16px;
  top: 30px;
  padding-left: 3px;
  padding-top: 0px;
  line-height: 16px;
  margin-left: 12px;
  text-align: center;
  font-size: x-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}