.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.new-line {
  white-space: pre-line;
}

body {
  background-color: #BFBB98;
  margin: 10px;
}

@font-face {
  font-family: PrintChar21;
  src: url(./fonts/PrintChar21.ttf);
}

@font-face {
  font-family: PRNumber3;
  src: url(./fonts/PRNumber3.ttf);
}

.statusPanel {
  display: inline-block;
  width: 370px;
  margin: 20px;
  vertical-align: top;
}

.topRow {
  display: flex;
  flex-direction: row;
}

.apple2 {
  display: flex;
  flex-direction: column;
    /* width: 1240px; */
}

.sideContent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.canvasText {
  display: grid;
  padding-bottom: 0px;
}

canvas {
  grid-column: 1;
  grid-row: 1;
  outline: none;
  border-radius: 20px;
  /* cursor: none; */
}

textarea {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
}

.controlBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftStatus {
  margin-left: 5px;
  margin-top: 10px;
}

.helpPanel {
  display: flex;
  font-family: monospace;
  font-size: medium;
  overflow: auto;
  background-color: lightgray;
  background-image: url(./img/paper.png);
  background-size: cover;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 5px;
  opacity: 80%;
}

.helpText {
  margin-left: 40px;
  margin-top: 5px;
  white-space: pre-wrap;
}

.small {
  font-size: small;
}

select {
  font-size: medium;
  border-radius: 4px;
  padding: 2px;
  outline-width: 0;
  border-width: 0px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
  background-color: inherit;
  border: 0.75px solid black !important;
}

.textButton {
  font-size: medium !important;
  line-height: 1.5 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  margin-top: 3px !important;
  font-variant-caps: normal !important;
  color: black !important;
  background-color: inherit !important;
  text-transform: none !important;
  border: 0.75px solid black!important;
}

.pushButton {
  border-width: 0;
  border-color: #a4a08A;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  color: black;
  font-size: 23px;
  padding: 0px 0px;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin: 2px;
  margin-top: 4px;
  cursor: pointer;
  font-weight: 900;
  user-select: none;
}

.isActive {
  background-color: #898677;
}

.keyButton {
  border-width: 1px;
  border-style: outset;
}

.textKey {
  font-size: medium;
  letter-spacing: -0.05em;
  font-weight: 600;
  position: relative;
  top: -0.15em;
  left: -0.02em;
}

.innerSquare {
  transform: scaleY(0.80) translateY(-0.1em);
}

.colorMode0 {
  color: white;
  opacity: 0.75;
}

.colorMode1 {
  color: white;
  opacity: 0.75;
}

.colorMode2 {
  color: #39FF14;
  opacity: 0.5;
}

.colorMode3 {
  color: #FFA500;
  opacity: 0.5;
}

.cropBottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.cropTop {
  clip-path: polygon(0% 50%, 50% 75%, 100% 50%, 100% 100%, 0% 100%);
}

.cropApple {
  clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 80% 47%, 75% 58%, 80% 70%, 100% 80%, 100% 100%, 0% 100%);
}

.small {
  font-size: 0.5em;
}

.largeButton {
  font-size: 1.5em;
}

.icon {
  vertical-align: top;
}

button:active {
  background-color: #898677;
}
button:disabled {
  border: 0;
  background-color: #cccccc;
  color: #DDDDDD;
  cursor: default;
}

.drives {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.DiskImageChooser {
  margin-top: 3px;
  margin-right: 10px;
}

.drive {
  display: flex;
  flex-direction: column;
}

.disk2 {
  width: 100px;
  height: 57px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 6px;
  -webkit-touch-callout: none;
}

.harddrive {
  border: 1px solid #555;
  height: 57px;
  margin-right: 7px;
}

.statusItem {
  width: 100px;
  /* transform: translate(0, -12px); */
  height: 1.5em;
  font-size: 7.5pt;
  margin-left: 0;
  margin-right: 0.5em;
  white-space: nowrap;
  user-select: none;
}

.diskLabel {
  /* background-color: black; */
  position: relative;
  color: white;
  border-radius: 3px;
  width: 87px;
  pointer-events: none;
  height: 1.5em;
  top: -44px;
  margin-top: -1.2em;
  padding-left: 0px;
  padding-top: 0px;
  line-height: 16px;
  margin-left: 6px;
  text-align: left;
  font-size: 7pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.diskStatus {
  width: 100px;
  /* transform: translate(0, -12px); */
  height: 1.5em;
  font-size: 7.5pt;
  margin-left: 0;
  margin-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  user-select: none;
}

.MuiDialog-paper {
  margin: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px !important;
}

.MuiDialogTitle-root {
  padding: 5px !important;
}

.MuiImageListItem-root {
  margin-bottom: 0px;
  cursor: pointer;
}

.MuiImageListItemBar-root {
  background: rgba(0, 0, 0, 0.65) !important;
}

.MuiImageListItemBar-titleWrap {
  padding: 4px !important;
}

.MuiImageListItemBar-title {
  font-size: small !important;
  margin-top: 20;
}

.MuiIconButton-root {
  cursor: help !important;
}
