.flyout {
  position: fixed;
  background-color: #BFBB98;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  z-index: 99;
}

.flyout-top-left {
  top: -1000px;
  height: auto;
  left: 1%;
  transition: top 0.3s ease;
}

.flyout-top-right {
  top: -1000px;
  height: auto;
  right: 1%;
  transition: top 0.3s ease;
}

.flyout-button {
  color: #000000;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 2.5cqw;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 2.5cqw;
  cursor: pointer;
  margin: auto;
  width: 50%;
}